@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  text-decoration: none;
}
.input {
  font-family: inherit;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #ffffff;
}

.navigation {
  display: flex;

  margin: 0 70px;
}

.logo{
  display: block;
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  max-width: 250px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}


.navigation-link-button {
  background-color: #756157;
  color: #ffffff;
}

.navigation-link-search {
  display: block;
  height: 23.5px;
  background-image: url(../images/icon-search.svg);
  background-repeat: no-repeat;
}

.navigation-link-like {
  display: block;
  height: 23.5px;
  padding-left: 20px;
  background-image: url(../images/icon-like.svg);
  background-repeat: no-repeat;
}

.navigation-user {
  margin-left: auto;
  max-width: 300px;
}

.hero {
  background-image: url(../images/background-hero-line.svg),url(../images/background-hero.jpeg) ;
  background-position: left bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, fill;
  background-color: #859097;
}
.welcome-img {
  margin: 0 auto;
  display: block;
}

.main {
  background-color: #ffffff;
  flex-grow: 1;
}
.container-description {
  width: 651px;
  margin: 0 auto;
}

.main-description {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.main-description-small {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
}

.advantages-item-large {
  display: flex;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.container-blue {
  width: 400px;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantage-item-container {
  display: flex;
}

.advantage-image {
  display: block;
}

.twelve-opacity{
  background-color: rgba(131, 179, 211, 0.12);
}

.twenty-opacity {
  background-color: rgba(131, 179, 211, 0.20);
}

.search-button {
  display: block;
  width: 375px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

.subscribe {
  color: #ffffff;
  background-image: url(../images/background-subscribe.jpeg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #859097;
}

.subscribe-container {
  width: 684px;
  margin: 0 auto;
}

.subscribe-form {

}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color:#82B3D3;
  border: none;
}

.footer {
  background-color: #ffffff;
}

.contacts {
  display: flex;
  margin: 0 70px;
  justify-content: space-between;
}

.social-list {
  list-style: none;
  display: flex;
  width: 180px;
  margin: 0;
  padding: 0;
}

.main-inner{
  background-color: #ffffff;
}

.footer-telphone {
  display: block;
  width: 331px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
}

.logo-html-academy {
  display: block;
  width: 130px;
}

.filter {
  color: #ffffff;
  background-image: url(../images/background-filter.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #859097;
}

.filter-container {
  width: 1060px;
  margin: 0 auto;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-link-home {
  display: block;
  height: 21px;
  background-image: url(../images/home-breadcrumbs.svg);
  background-repeat: no-repeat;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {

}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.control {
  line-height: 23px;
}

.button-submit {
  background-color: #82B3D3;
}

.button-reset {
  background-color: transparent;
}

.catalog {
  width: 1060px;
  margin: 0 auto;
}

.container-filter-hotels {
  display: flex;
}

.found-hotels {
  display: block;
  width: 380px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.select-control {
  width: 300px;
  margin-left: auto;
  margin-right: 70px;
}

.sort-view-list {
  display: flex;
  margin: 0;
}

.sort-view-list {
  list-style: none;
}

.sort-view-button {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/view-cards.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border:#000000 solid 2px;
  border-radius: 5px;
}

.sort-view-button-carsd {
  background-image: url(../images/view-cards.svg);
}

.sort-view-button-card {
  background-image: url(../images/view-card.svg);
  border-color: #E5E5E5;
}

.sort-view-button-list {
  background-image: url(../images/view-list.svg);
  border-color: #E5E5E5;
}

.hotels-list{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  color: #333333;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-card {
  width: 340px;
}

.title-link {
  text-decoration: none;
}

.hotel-card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-button-more {
    background-color: #756157;
}

.hotel-card-button-like {
  background-color: #82B3D3;
}

.hotel-rating{
  background-color: #F2F2F2;
}

.hotel-stars {
  display: block;
  height: 17px;
  width: 55px;
  background-image: url(../images/star.svg);
}

.pagination {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}


.pagination-current{
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-dots{
  background-color: transparent;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.subscribe-catalog {
  background-color: #ffffff;
}

.subscribe-catalog-main {
  color:#000000;
}

.subscribe-catalog-small {
  color: #333333;
}
