@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 #00000020;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  text-decoration: none;
}
.input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  margin: 0 70px;
  position: relative;
}

.logo{
  width: 140px;
  margin-right: 29px;
  margin-bottom: -11px;
}

.navigation-list {
  display: flex;
  flex-wrap:wrap;
  max-width: 350px;
  list-style: none;
  padding: 0;
  margin: 0;
}


.navigation-link {
  display: block;
  position: relative;
  padding: 20px 15px;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 17px;

  color: #000000;
  text-decoration: none;
}

/* .navigation-item{
  margin-right: 2px;
} */

.navigation-item-active ::before {
  position: absolute;
  content: "";
  right: 15px;
  bottom: -1px;
  left: 15px;
  background-color: #756257;
  height: 2px;

}

.navigation-list-user {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap:wrap;
  list-style: none;
  margin-left: auto;
  max-width: 300px;
}

.navigation-link-user-button {
  display: block;
  padding: 8px 34px;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
  margin-left: 20px;
}

.brown-button:hover {
  background-color: #615048;
  transition: 0.5s;
}

.brown-button:active {
  background-color: #756157;
  transition: 0.5s;
  color:#ffffff30;
}

.brown-button:focus {
  background-color: #615048;
  transition: 0.5s;
}

.blue-button:hover {
  background-color: #68A2CA;
  transition: 0.5s;
}

.blue-button:active {
  background-color: #82B3D3;
  transition: 0.5s;
  color:#ffffff30;
}

.blue-button:focus {
  background-color: #68A2CA;
  transition: 0.5s;
}


.green-button:hover {
  background-color: #6C9E42;
  transition: 0.5s;
}

.green-button:active {
  color:#ffffff30;
  background-color: #7DB54F;
}

.green-button:focus {
  background-color: #6C9E42;
  transition: 0.5s;
}

.social-item-link:hover .social-item-link-icon {
  fill: #68A2CA;
  transition: 0.7s;
}

.social-item-link:focus .social-item-link-icon{
  fill: #68A2CA;
  transition: 0.7s;
}

.social-item-link:active .social-item-link-icon {
  fill: #68A2CA30;
  transition: 0.7s;
}

.navigation-link-user-search {
  display: block;
  padding: 32px 22px;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-user-like {
  position: relative;
  display: block;
  padding: 32px 22px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-image: url(../images/icon-like.svg);
  background-repeat: no-repeat;
}

.notification-badge {
  display: inline-block;
  position: absolute;
  top: 11px;
  right: 4px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7DB54F;
  border-radius: 10px;
}


.hero {
  background-image: url(../images/background-hero-line.svg),url(../images/background-hero.jpeg) ;
  background-position: left bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: fill, fill;
  background-color: #859097;
  padding-top: 51px;
  padding-bottom: 78px;
  text-align: center;
}
.welcome-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.main {
  background-color: #ffffff;
  flex-grow: 1;
}
.container-description {
  padding: 0 270px;
  padding-top: 69px;
  padding-bottom: 90px;
}
.container-description-small {
  padding: 0 270px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.container-description-small .main-description {
  padding: 0 80px;
  margin-bottom: 20px;
}

.main-description {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.main-description-small {
  text-align: center;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}


.advantages-item {
  width: 400px;
  padding: 113px 85px;
  text-align: center;
}

.advantages-item-large {
  grid-column: 1/-1;
  display: flex;
}

.advantages-title {
  position: relative;
  margin-bottom: 61px;
  margin-top: 0;
  padding: 0 27px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.line-title::before {
  position: absolute;
  content: "";
  top: 86px;
  left: 85px;
  right: 85px;
  height: 2px;
  background-color: #000000;
  opacity: 30%;
}

.container-blue .line-title::before {
  background-color: #ffffff;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 0;
}

.container-blue {
  text-align: center;
  width: 400px;
  padding: 102px 85px 100px 85px;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantage-item-container {
  display: flex;
}

.advantage-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.twelve-opacity{
  background-color: rgba(131, 179, 211, 0.12);
}

.twenty-opacity {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item-image-background{
  padding: 81px 85px;
}

.image-title-home {
  padding-top: 103px;
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 30px;
}

.image-title-hamburger {
  padding-top: 103px;
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 30px;
}

.image-title-gift {
  padding-top: 103px;
  background-image: url(../images/gift.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 30px;
}

.search {
  padding: 96px 304px;
}

.search .main-description {
  margin-bottom: 20px;
}

.search .main-description-small {
  margin-bottom: 53px;
}

.search-button {
  display: block;
  padding: 8px 50px;
  width: 376px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  background-color: #756157;
}

.subscribe {
  padding: 96px 258px 104px 258px;
  color: #ffffff;
  background-image: url(../images/background-subscribe.jpeg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #859097;
}

.subscribe .main-description {
  margin-bottom: 20px;
}

.subscribe .main-description-small {
  padding-left: 103px;
  padding-right: 100px;
  margin-bottom: 55px;
}

.main-description-subscribe {
  margin-bottom: 20px;
}

.main-description-small-subscribe {
   margin-bottom: 55px;
}

.subscribe-form {
  display: flex;
  width: 684px;
}

.input {
  padding: 13px 0 12px  20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 18px;
  font-family: inherit;
  line-height: 24px;
  flex-grow: 1;
  border: none;
}

.subscribe-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color:#82B3D3;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.footer {
  background-color: #ffffff;
}

.contacts {
  display: flex;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.social-list {
  list-style: none;
  display: flex;
  width: 140px;
  margin: 0;
  padding: 0;
}

.social-item-link {
  display: block;
  padding: 16px 12px 16px 12px;
}



.main-inner{
  flex-grow: 1;
  background-color: #ffffff;
}

.footer-telphone {
  margin: 0 auto;
  max-width: 400px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
}

.footer-telphone:hover {
  color: #756157;
  transition: 0.7s;
}

.footer-telphone:focus {
  color: #756157;
  transition: 0.7s;
}

.footer-telphone:active {
  color: #75615730;
}

.logo-html-academy-icon:hover {
  fill: #756157;
  transition: 0.7s;
}
.logo-html-academy-icon:focus {
  fill: #756157;
  transition: 0.7s;
}
.logo-html-academy-icon:active {
  fill: #75615730;
}

.filter {
  color: #ffffff;
  background-image: url(../images/background-filter.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #859097;
}

.filter-container {
  padding-top: 35px;
  padding-bottom: 62px;
  padding-left: 70px;
  padding-right: 70px;

}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 40px;
}
.breadcrumbs-item {
  margin-right: 12px;
}

.breadcrumbs-item:not(:last-child) {
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 16px;
}

.breadcrumbs-link-home {
  display: block;
  width: 14px;
  height: 21px;
  background-image: url(../images/home-breadcrumbs.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog {
  padding: 0 70px;

}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  min-width: 150px;
}

.catalog-filter-group-coast {
  margin-left: 70px;
  margin-right: 70px;
}

.catalog-filter-title {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 32px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control:hover {
  opacity: 0.6;
}
.control:active {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark::before{
  background-image: url(../images/tick.svg);
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before{
  background-image: url(../images/circl.svg);
  content: "";
  top:-0.5px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.conteiner-cost {
  position: relative;
  display: flex;
  margin-right: -2px;
}
.input-cost {
  width: 143px;
  border: none;
  margin-right: 2px;
  margin-bottom: 44px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 50px;
}

.input-cost:focus{
  border: none;
}

.input-cost-min {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-cost-max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input-cost-range-text {
  position: absolute;
  color: #00000030;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.input-cost-min-text {
  left:108px;
  top: 13px;
}

.input-cost-max-text {
  left:249px;
  top: 13px;
}


/* Chrome, Safari, Edge, Opera */
.input-cost::-webkit-outer-spin-button,
.input-cost::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
.input-cost[type=number] {
  -moz-appearance: none;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #ffffff30;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 21px;
  height: 21px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -3px;
}


.container-filter-group-button {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
}

.button-submit {
  padding: 8px 51px;
  margin-bottom: 32px;
  border-radius: 4px;
}

.button-reset {
  padding: 8px 50px;
}

.button-reset:focus {
  outline: 3px solid #82B3D3;
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:active {
  color: #ffffff30;
}

.control {
  line-height: 23px;
}

.control-input {
  margin-right: 20px;
  margin-bottom: 21px;
}

.button-submit {
  background-color: #82B3D3;
}

.button-reset {
  background-color: transparent;
}

.container-filter-hotels {
  padding-top: 51px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.found-hotels {
  width: 380px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.select-control {
  width: 292px;
  height: auto;
  margin-left: auto;
  margin-right: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 17px;
  padding-right: 45px;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  appearance: none;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;

}

.select-control:hover {
  border: 2px solid #68A2CA;
}
.select-control:focus {
  border: 2px solid #68A2CA;
}


.sort-view-list {
  display: flex;
  margin: 0;
}

.sort-view-list {
  list-style: none;
  gap: 8px;
}

.sort-view-button:hover {
  border: 2px solid #000000;
}

.sort-view-button:focus {
  outline: none;
  border: 2px solid #68A2CA;
}

.sort-view-button:active {
  border: 2px solid #000000;
}


.sort-view-button {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/view-cards.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border:#000000 solid 2px;
  border-radius: 4px;
}

.sort-view-button-carsd {
  background-image: url(../images/view-cards.svg);
}

.sort-view-button-card {
  background-image: url(../images/view-card.svg);
  border-color: #E5E5E5;
}

.sort-view-button-list {
  background-image: url(../images/view-list.svg);
  border-color: #E5E5E5;
}

.hotels-list{
  position: relative;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap:20px;
  color: #333333;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.hotels-list::after{
  position: absolute;
  top: 936px;
  content: "";
  height: 1px;
  width: 100%;
  background-color:#E6E6E6;;
}

.title-link {
  padding-top: 17px;
  margin-bottom: 15px;
  grid-column: 1/-1;
  grid-row: 2;
  text-decoration: none;
}


.hotel-card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.hotel-card-button-more {
    background-color: #756157;
}

.pagination {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item{
  margin-right: 9px;
}

.pagination-current {
  display: block;
  padding: 12px 24px;
  border-radius: 4px;
}

.pagination-dots {
  display: block;
  padding: 17px 20px;
  vertical-align:baseline;
}

.pagination-link {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link-double-symbol {
  padding: 12px 19px;
}

.pagination-link:hover{
  background-color: #68A2CA;
}
.pagination-link:focus{
  background-color: #68A2CA;
}
.pagination-link:active{
  background-color: #82B3D3;
  color: #ffffff30;
}


.pagination-current{
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-dots{
  background-color: transparent;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.subscribe-catalog {
  padding: 155px 260px 102px 260px;
  text-align: center;
  background-color: #ffffff;
}

.subscribe-catalog .main-description {
  margin-bottom: 20px;
  color:#000000;
}


.subscribe-catalog .main-description-small {
  color: #333333;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 56px;
}
.subscribe-catalog .input {
  background-color: #F2F2F2;
}

.hotel-card {
  padding: 0 20px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 212px 1fr;
  column-gap: 20px;
  outline: 1px solid #E6E6E6;
}

.hotel-card-link {
  grid-column: 1/-1;
  grid-row: 1;
}

.hotel-card-image {
  display: block;
}

.hotel-type-card {
  margin-bottom: 16px;
  grid-column: 1/2;
  grid-row: 4;
}

.hotel-card-price {
  margin-bottom: 16px;
  text-align: end;
  grid-column: 2/3;
  grid-row: 4;
}

.hotel-card-button-more {
  padding: 8px 26px;
  margin-bottom: 16px;
  text-align: center;
  grid-column: 1/2;
  grid-row: 5;
  border-radius: 4px;
}

.hotel-card-button-like {
  grid-column: 2/3;
  grid-row: 5;
  padding: 8px 18px;
  margin: 0;
  margin-bottom: 16px;
  background-color: #82B3D3;
  cursor: pointer;
  border-radius: 4px;
}

.hotel-card-button-like-active {
  grid-column: 2/3;
  grid-row: 5;
  padding: 8px 18px;
  margin: 0;
  margin-bottom: 16px;
  background-color: #7DB54F;
  cursor: pointer;
  border-radius: 4px;
}

.hotel-stars {
  grid-column: 1/2;
  grid-row: 6;
  display: block;
  background-image: url(../images/star.svg);
  background-repeat: space no-repeat;
  background-position-y:center ;
  margin-bottom: 18px;
}

.hotel-stars-two {
  width: 42px;
}
.hotel-stars-three {
  width: 67px;
}

.hotel-stars-four {
  width: 89px;
}

.hotel-rating {
  text-align: center;
  width: 140px;
  grid-column: 2/3;
  grid-row: 6;
  background-color: #F2F2F2;
  padding: 9px 5px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 18px;
  text-transform:uppercase;
}

.hidden-modal {
  visibility: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color:#f2f2f2cc;
}

.modal{
  width: 717px;
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 64px 70px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-title {
  padding: 0;
  margin: 0;
  margin-bottom: 65px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.list-search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 49px;
}

.list-search-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.data-in {
  grid-column: 1/-1;
}
.data-out {
  grid-column: 1/-1;
}

.members-input {
  position: relative;
  width: 110px;
  padding: 10px 30px;
  background-color: #F2F2F2;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px;
  text-align: center;
}

.button-members {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.children {
  position: relative;
}

.adults {
  position: relative;
}

.adults .button-plus {
  position: absolute;
  top: 13px;
  left: 218px;
}
.adults .button-minus {
  position: absolute;
  top: 13px;
  left: 147px;
  z-index: 1;
}

.children .button-plus {
  position: absolute;
  top: 13px;
  left: 258px;
}
.children .button-minus {
  position: absolute;
  top: 13px;
  left: 187px;
  z-index: 1;
}

.button-members:hover path {
  fill:#000000;
  fill-opacity: 1;
}

.button-members:active path {
  fill:#00000020;
  fill-opacity: 0.2;
}

.button-members:focus-visible path {
  fill:#000000;
  fill-opacity: 1;
}


.button-members-img {
  display: block;
}

/* Chrome, Safari, Edge, Opera */
.members-input::-webkit-outer-spin-button,
.members-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
.members-input[type=number] {
  -moz-appearance: none;
}

.date-input {
  width: 440px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 40px;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 3px;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: right 22px center;
  background-position-y: 15px;
  cursor: pointer;
}

.text-input {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding-left: 157px;
}

.error {
  color: #FF5757;
}

.label-search {
  padding: 11px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.modal-button-search {
  padding: 18px 77px;
  background: #83B3D3;
  border: none;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-close-button {
  position: absolute;
  background-color: #F2F2F2;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50px;
  left:613px;
  background-image: url(../images/modale-close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.adults {
  padding-right: 44px;
}

.children {
  padding-left: 46px;
  justify-content: left;
  align-items: center;
}

.label-search-children {
  margin-right: 11px;
}

.button-info {
  position: relative;
  margin-right: auto;
  width: 26px;
  height: 26px;
  background-color: #83B3D3;
  border: 0;
  border-radius: 15px;
  background-image: url(../images/info.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-info:hover::before {
  position: absolute;
  top: 32px;
  left: 3px;
  content: "";
  background-image: url(../images/triangle.svg);
  width: 19px;
  height: 9px;
}

.button-info:hover::after {
  position: absolute;
  top:41px;
  left: -115px;
  padding-left: 22px;
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 23px;
  content: "Укажите количество детей, которые будут с вами, возраст которых от 6 до 18 лет. Дети до 6 лет размещаются бесплатно.";
  width: 256px;
  background-color: #333333;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}
